<!DOCTYPE html>
<html ng-app>
    <head>
        <title>REDIS数据 查看工具</title>
        <meta charset="UTF-8"/> 
        <link href="css/main.css" rel="stylesheet">
        <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="lvjs/css/style.css" rel="stylesheet">
        <style>
        ::-webkit-scrollbar{padding-left:1px;background-color:#fafafa;overflow:visible;width:13px;}
        ::-webkit-scrollbar-thumb{background-color:rgba(0, 0, 0, .7);background-clip:padding-box;border:1px solid transparent;border-left-width:2px;min-height:15px;border-radius: 8px;box-shadow:inset 1px 1px 0 rgba(0, 0, 0, .1),inset 0 -1px 0 rgba(0, 0, 0, .07);}
        ::-webkit-scrollbar-thumb:vertical:hover{background-color:rgba(0, 0, 0, .7);}
        ::-webkit-scrollbar-thumb:vertical:active{background-color:rgba(0, 0, 0, .5);}
        ::-webkit-scrollbar-button{height:0;width:0;}
        ::-webkit-scrollbar-track{background-clip:padding-box;border:solid transparent;border-width:0 0 0 4px;}
        ::-webkit-scrollbar-corner{background:transparent;}
        #listdiv{ padding:0px;}
        #listdiv a{ margin-bottom:3px; display:block; -webkit-user-select: none }
        #serverbtn{ margin-bottom: 10px;}
        </style>
    </head>
    <body style="background:#efefef;" ng-controller="redisdataController">
        <div id="serverlist" style="position: absolute;top:0px; bottom:0px; left: 0px; padding: 10px;z-index:99;">
            <div id="serverbtn" style="width:210px; text-align:center;">
                <div class="btn-group" style="width:210px;">
                    <a class="btn btn-info" style="width:60px;" ng-click="addserver()" >新建</a>
                    <a class="btn btn-danger" style="width:60px;" ng-click="removeserver()">删除</a>
                </div>
            </div>
            <div id="listdiv" class="alert alert-info" style="height:570px;">
                <a class="btn" id="server_{{server.k}}"  ng-class="{'btn-success': server.selected}" ng-repeat="server in serverlist | orderBy:server.port" ng-dblclick="selectserver(server)" title="双击查看">{{server.ip}}:{{server.port}}</a>
            </div>
        </div>
        
        <div id="serverdata" class="rightplace" style="position: absolute; top:0px; bottom:0px; left: 230px; right:0px; padding:10px;display:none;">
            <div class="navbar">
                <div class="navbar-inner">
                    <a class="brand">按KEY搜索</a>
                    <form class="navbar-form pull-left">
                        <input type="text" id="searchkey" ng-keyup="inputsearch($event);">
                        <button type="button" ng-click="dealsearch(0)" class="btn btn-info">搜索</button>
                        <button type="button" ng-click="dealsearch(1)" class="btn btn-info">搜索并保存为过滤器</button>
                    </form>
                </div>
            </div>
            
            <ul class="nav nav-tabs" id="myTab">
            </ul>
             
            <div class="tab-content">
                <div class="tab-pane active" id="serverstatus" style="height:490px;">
                    <table class="table table-hover">
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane" id="keydata">
                    <div style="float:left;">
                        <select id="keyslist" style="height:490px; width:auto; max-width:400px; min-width:250px;" multiple="multiple">
                        </select>
                    </div>
                    <div id="keydataright" style="float:left; margin-left:15px;height: 488px;overflow-y: auto;">
                        <table id="keyinfotab" class="table table-bordered  table-striped">
                            <tbody>
                                <tr>
                                    <td style="width:80px;">KEY</td>
                                    <td style="min-width:300px;max-width:300px;word-break: break-all;" class="keyname"></td>
                                </tr>
                                <tr>
                                    <td style="width:80px;" title="key的类型">TYPE</td>
                                    <td style="min-width:300px;" class="keytype"></td>
                                </tr>
                                <tr>
                                    <td title="key的存活时间">TTL</td>
                                    <td class="keytime"></td>
                                </tr>
                                <tr>
                                    <td title="key的大小">SIZE</td>
                                    <td class="keysize"></td>
                                </tr>
                            </tbody>
                        </table>
                        <table id="keydatatab" class="table table-bordered table-striped" style="max-width:420px;word-break: break-all; margin-bottom:0px;">
                            <tbody>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        
        <div id="welcome" class="rightplace" style="position: absolute; top:40%; bottom:0px; left: 400px; width:500px; padding:10px;">
            <div class="alert alert-info">
                <h4>欢迎使用REDIS数据 查看工具!</h4>
                请先新建redis服务配置或双击已经建好的配置查看数据。
            </div>
        </div>
        
        <div id="connecterror" class="rightplace" style="position: absolute; top:40%; bottom:0px; left: 400px; width:500px; padding:10px;">
            <div class="alert alert-error">
                <h4>连接redis服务失败!</h4>
                请检查您选的redis服务是否运行正常或重新双击选择重试。
            </div>
        </div>
        
        <div id="addserverfor" class="modal hide fade" style="z-index:99999">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>新建redis服务配置</h3>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="control-group">
                        <label class="control-label" for="ip">IP地址：</label>
                        <div class="controls">
                            <input type="text" id="ip" placeholder="IP地址">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="port">PORT：</label>
                        <div class="controls">
                            <input type="text" id="port" placeholder="端口">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="auth">AUTH：</label>
                        <div class="controls">
                            <input type="password" id="auth" placeholder="密码认证，可为空">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <input type="hidden" id="editdomain" value=""/> 
                <a class="btn btn-info" ng-click="dealadd()">保存</a>
            </div>
        </div>
        
        <div class="modal hide fade" id="confirmmodal" style="z-index:99999">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4>提示</h4>
            </div>
            <div class="modal-body">
                <p class="modalcontent"></p>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">取消</a>
                <a href="#" class="btn btn-primary dealbtn">确定</a>
            </div>
        </div>
    </body>
    <script src="js/jquery.1.7.2.js"></script>
    <script src="lvjs/lvjs.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script>
        global.jQuery = $;
        global.fs = require('fs');
        global.redis = require('redis');
        
        function redisdataController($scope){
            $scope.serverlistfile = "app/js/serverlist.js";
            $scope.serverlist = {};
            $scope.currentclient = null;
            $scope.currentserver = null;
            
            $scope.loadserver = function(){
                $scope.serverlist = JSON.parse( global.fs.readFileSync( $scope.serverlistfile ) );
            };
            
            $scope.showplace = function(id){
                $(".rightplace").hide();
                $("#" + id).show();
            }
            
            $scope.saveserver = function(){
                var savedata = angular.copy($scope.serverlist);
                angular.forEach(savedata, function(value, key){
                    value.selected = false;
                });
                global.fs.writeFileSync($scope.serverlistfile, JSON.stringify( savedata ) );
            };
            
            $scope.confirm = function(content, callback){
                $("#confirmmodal").find(".modalcontent").text(content);
                $("#confirmmodal").find(".dealbtn").unbind('click');
                $("#confirmmodal").find(".dealbtn").bind('click', function(){
                    callback();
                });
                $("#confirmmodal").modal("show");
            };
            
            $scope.setscroll = function(timeout){
                setTimeout(function(){
                    jQuery("#listdiv").jscroll({W:"16px",Btn:{btn:true}});
                }, timeout);
            };
            
            $scope.selectserver = function(server){
                if($scope.currentclient){
                    $scope.currentclient.unref();
                }
                jQuery.lvalert.loading({msg : "正在初始化连接......"});
                global.jQuery.each($scope.serverlist, function(key, tmp){
                    $scope.serverlist[key].selected = false;
                });
                server.selected = true;
                $scope.currentserver = server.k;
                //note 连接redis
                var option = {
                    'max_attempts':1
                };
                if(server.auth){
                    option['auth_pass'] = server.auth;
                }
                var client = global.redis.createClient(server.port, server.ip, option);
                client.on('ready', function(error, data){
                    $scope.currentclient = client;
                    jQuery.lvalert.hide();
                    $scope.initrightplace();
                });
                client.on('error', function(error, data){
                    jQuery.lvalert.hide();
                    $scope.showplace('connecterror');
                });
            };
            
            $scope.initrightplace = function(){
                $scope.showplace('serverdata');
                if($scope.currentclient == null){
                    $scope.showplace('welcome');
                }else{
                    //note 获取filter
                    var filterlist = $scope.serverlist[$scope.currentserver].filter;
                    if(!filterlist){
                        filterlist = [];
                    }
                    $("#myTab").html('<li class="active"><a href="#serverstatus" id="statustab">状态信息</a></li><li><a href="#keydata" data-filter="*" class="filtertab">所有KEY *</a></li>');
                    angular.forEach(filterlist, function(value, key){
                        $("#myTab").append('<li><a href="#keydata" data-filter="' + value + '" class="filtertab">' + value + '&nbsp;&nbsp;&nbsp;&nbsp;<i class="icon-remove filerdel" data-filter="' + value + '" title="删除过滤器" style="cursor:pointer;"></i></a></li>');
                    });
                    $("#statustab").bind('click', $scope.showstatus);
                    $("#myTab").find('.filtertab').bind('click', $scope.showfilterkey);
                    $("#myTab").find('.filerdel').bind('click', $scope.delfilter);
                    $('#myTab a').click(function (e) {
                        e.preventDefault();
                        $(this).tab('show');
                    });
                    $("#keydata").removeClass('active');
                    $("#serverstatus").addClass('active');
                    $scope.showstatus();
                }
            };
            
            $scope.addserver = function(){
                $("#ip").val('');
                $("#port").val('');
                $("#auth").val('');
                $("#addserverfor").modal('show');
            };
            
            $scope.dealadd = function(){
                var ip = $("#ip").val();
                var port = $("#port").val();
                var auth = $("#auth").val();
                if(ip && global.jQuery.lvcheck.checkip(ip)){
                    $("#ip").parent().parent().removeClass('error');
                }else{
                    $("#ip").parent().parent().addClass('error');
                    return false;
                }
                if(port && global.jQuery.lvcheck.checknum(port)){
                    $("#port").parent().parent().removeClass('error');
                }else{
                    $("#port").parent().parent().addClass('error');
                    return false;
                }
                //note 判断是否已存在
                var ipstr = ip.replace(/\./ig, '_');
                var key = ipstr + "_" + port;
                if($scope.serverlist[key]){
                    jQuery.lvalert.error({msg : "此redis服务已存在！"});
                }else{
                    $scope.serverlist[key] = {'k':key, 'ip':ip, 'port':port, 'auth':auth, 'selected':false};
                    $("#addserverfor").modal('hide');
                    $scope.saveserver();
                    $scope.setscroll();
                }
            };
            
            $scope.removeserver = function(){
                if($scope.currentserver){
                    $scope.confirm("您确定要删除此redis配置吗？", $scope.dealremove);
                }else{
                    jQuery.lvalert.error({msg : "请先双击选择一个redis服务！"});
                }
            };
            
            $scope.dealremove = function(){
                console.log($scope.currentserver);
                var key = $scope.currentserver;
                delete($scope.serverlist[$scope.currentserver]);
                $scope.currentserver = "";
                global.jQuery("#server_" + key).empty().remove();
                $scope.saveserver();
                $("#confirmmodal").modal("hide");
                jQuery.lvalert.success({msg : "删除成功！", timeout : 1500, mask : 0});
                $scope.setscroll(100);
                $scope.showplace('welcome');
            };
            
            $scope.showstatus = function(){
                $scope.currentclient.info(function(err, data){
                    if(err){
                        $scope.showplace('connecterror');
                    }else{
                        var status_data = data.split("\r\n");
                        $("#serverstatus").find('tbody').html('');
                        angular.forEach(status_data, function(value, key){
                            $("#serverstatus").find('tbody').append('<tr><td>' + value + '</td></tr>');
                        });
                    }
                });
            };
            
            $scope.showfilterkey = function(e){
                jQuery.lvalert.loading({msg : "正在获取KEY......", mask : 0});
                var filter = $(e.target).attr('data-filter');
                $scope.dealsearchkeys(filter);
            };
            
            $scope.dealsearchkeys = function(filter){
                $("#keyslist").html('');
                $("#keydataright").hide();
                if(filter == '*'){
                    //note 判断有多少key
                    $scope.currentclient.dbsize(function(err, data){
                        if(err){
                            $scope.showplace('connecterror');
                        }else{
                            if(data>2000){
                                jQuery.lvalert.warning({msg : "KEY的数量超过2000个，无法列出，请使用过滤器！"});
                            }else{
                                 $scope.dealgetkeys(filter);
                            }
                        }
                    });
                }else{
                    $scope.dealgetkeys(filter);
                }
            };
            
            $scope.dealgetkeys = function(filter){
                $scope.currentclient.keys(filter, function(err, data){
                    if(err){
                        $scope.showplace('connecterror');
                    }else{
                        if(data.length > 2000){
                            data = data.slice(0, 2000);
                        }
                        var len = data.length;
                        var offset = 0;
                        if(len > 0){
                            data.sort();
                            angular.forEach(data, function(value, key){
                                $scope.typeofkey(value, function(type){
                                    $("#keyslist").append('<option value="' + value + '" data-type="' + type + '">' + value + '      [' + type + ']</option>');
                                    offset++;
                                    if(offset == len){
                                        $("#keyslist").find('option').bind('click', $scope.selectkey);
                                        if(len>2000){
                                            jQuery.lvalert.warning({msg : "KEY的数量超过2000个，只列出2000个！"});
                                        }else{
                                            jQuery.lvalert.hide();
                                        }
                                    }
                                });
                            });
                        }else{
                            jQuery.lvalert.warning({msg : "没有相应的KEY！"});
                        }
                    }
                });
            };
            
            $scope.typeofkey = function(key, callback){
                $scope.currentclient.type(key, function(err, data){
                    if(err){
                        $scope.showplace('connecterror');
                    }else{
                        callback(data);
                    }
                });
            };
            
            $scope.ttlofkey = function(key, callback){
                $scope.currentclient.ttl(key, function(err, data){
                    if(err){
                        $scope.showplace('connecterror');
                    }else{
                        callback(data);
                    }
                });
            };
            
            $scope.sizeofkey = function(type, key, callback){
                switch (type) {
                  case 'string':
                    $scope.currentclient.get(key, function(err, data){
                        if(err){
                            $scope.showplace('connecterror');
                        }else{
                            if(data != null){
                                callback(data.length + " characters", data.length);
                            }else{
                                callback(0 + " characters", 0);
                            }
                            
                        }
                    });
                    break;
                  case 'hash':
                    $scope.currentclient.hlen(key, function(err, data){
                        if(err){
                            $scope.showplace('connecterror');
                        }else{
                            callback(data + " items", data);
                        }
                    });
                    break;
                  case 'list':
                    $scope.currentclient.llen(key, function(err, data){
                        if(err){
                            $scope.showplace('connecterror');
                        }else{
                            callback(data + " items", data);
                        }
                    });
                    break;
                  case 'set':
                    $scope.currentclient.scard(key, function(err, data){
                        if(err){
                            $scope.showplace('connecterror');
                        }else{
                            callback(data + " items", data);
                        }
                    });
                    break;
                  case 'zset':
                    $scope.currentclient.zcard(key, function(err, data){
                        if(err){
                            $scope.showplace('connecterror');
                        }else{
                            callback(data + " items", data);
                        }
                    });
                    break;
                }
            };
            
            $scope.selectkey = function(e){
                var type = $(e.target).attr("data-type");
                var key = $(e.target).attr("value");
                $scope.showkeyinfo(type, key);
                $("#keydataright").show();
            };
            
            $scope.showkeyinfo = function(type, key){
                $("#keyinfotab").find('.keyname').text(key);
                $("#keyinfotab").find('.keytype').text(type);
                $scope.ttlofkey(key, function(data){
                    if(data == -1){
                        $("#keyinfotab").find('.keytime').text('does not expire');
                    }else{
                        $("#keyinfotab").find('.keytime').text(data + ' s');
                    }
                });
                $scope.sizeofkey(type, key, function(data, len){
                    $("#keyinfotab").find('.keysize').text(data);
                    $scope.showkeydata(type, key, len);
                });
            };
            
            $scope.showkeydata = function(type, key, len){
                jQuery.lvalert.loading({msg : "正在获取数据......", mask : 0});
                $("#keydatatab tbody").html('');
                switch (type) {
                  case 'string':
                    $scope.currentclient.get(key, function(err, data){
                        if(err){
                            $scope.showplace('connecterror');
                        }else{
                            if(len == 0){
                                $("#keydatatab tbody").html("<tr><td style='color:#ff0000;'>已删除</td></tr>");
                            }else{
                                var tr = $("<tr></tr>");
                                var td = $("<td></td>");
                                td.text(data);
                                tr.append(td);
                                $("#keydatatab tbody").append(tr);
                            }
                            jQuery.lvalert.hide();
                        }
                    });
                    break;
                  case 'hash':
                    if(len > 2000){
                        jQuery.lvalert.warning({msg : "items数量超过2000个，无法显示！"});
                    }else{
                        $scope.currentclient.hgetall(key, function(err, data){
                            if(err){
                                $scope.showplace('connecterror');
                            }else{
                                $("#keydatatab tbody").append("<tr><th style='min-width:50px;'>Key</th><th>Value</th></tr>");
                                angular.forEach(data, function(value, key){
                                    var tr = $("<tr></tr>");
                                    var ktd = $("<td></td>");
                                    var vtd = $("<td></td>");
                                    ktd.text(key);
                                    vtd.text(value);
                                    tr.append(ktd);
                                    tr.append(vtd);
                                    $("#keydatatab tbody").append(tr);
                                });
                                jQuery.lvalert.hide();
                            }
                        });
                    }
                    break;
                  case 'list':
                    $scope.currentclient.lrange(key, 0, 2000, function(err, data){
                        if(err){
                            $scope.showplace('connecterror');
                        }else{
                            $("#keydatatab tbody").append("<tr><th style='min-width:50px;'>Index</th><th>Value</th></tr>");
                            angular.forEach(data, function(value, key){
                                var tr = $("<tr></tr>");
                                var ktd = $("<td></td>");
                                var vtd = $("<td></td>");
                                ktd.text(key);
                                vtd.text(value);
                                tr.append(ktd);
                                tr.append(vtd);
                                $("#keydatatab tbody").append(tr);
                            });
                            if(len > 2000){
                                jQuery.lvalert.warning({msg : "items数量超过2000个，只列出2000个！"});
                            }else{
                                jQuery.lvalert.hide();
                            }
                        }
                    });
                    break;
                  case 'set':
                    if(len > 2000){
                        jQuery.lvalert.warning({msg : "items数量超过2000个，无法显示！"});
                    }else{
                        $scope.currentclient.smembers(key, function(err, data){
                            if(err){
                                $scope.showplace('connecterror');
                            }else{
                                $("#keydatatab tbody").append("<tr><th>Value</th></tr>");
                                angular.forEach(data, function(value, key){
                                    var tr = $("<tr></tr>");
                                    var td = $("<td></td>");
                                    td.text(data);
                                    tr.append(td);
                                    $("#keydatatab tbody").append(tr);
                                });
                                jQuery.lvalert.hide();
                            }
                        });
                    }
                    break;
                    break;
                  case 'zset':
                    $scope.currentclient.zrange(key, 0, 2000, 'WITHSCORES', function(err, data){
                        if(err){
                            $scope.showplace('connecterror');
                        }else{
                            $("#keydatatab tbody").append("<tr><th style='min-width:50px;'>Score</th><th>Value</th></tr>");
                            if(data.length>0){
                                for(var i=0; i<data.length;){
                                    var tr = $("<tr></tr>");
                                    var ktd = $("<td></td>");
                                    var vtd = $("<td></td>");
                                    ktd.text(data[i+1]);
                                    vtd.text(data[i]);
                                    tr.append(ktd);
                                    tr.append(vtd);
                                    $("#keydatatab tbody").append(tr);
                                    i += 2;
                                }
                            }
                            if(len > 2000){
                                jQuery.lvalert.warning({msg : "items数量超过2000个，只列出2000个！"});
                            }else{
                                jQuery.lvalert.hide();
                            }
                        }
                    });
                    break;
                }
            };
            
            $scope.inputsearch = function(e){
                if(e.keyCode == 13){
                    $scope.dealsearch(0);
                }
            };
            
            $scope.dealsearch = function(save){
                var searchkey = $.trim($("#searchkey").val());
                if(searchkey.length>0){
                    jQuery.lvalert.loading({msg : "正在获取KEY......", mask : 0});
                    $scope.dealsearchkeys(searchkey);
                    if(save){
                        if(!$scope.serverlist[$scope.currentserver].filter){
                            $scope.serverlist[$scope.currentserver].filter = [];
                        }
                        if($.inArray(searchkey, $scope.serverlist[$scope.currentserver].filter) == -1){
                            $scope.serverlist[$scope.currentserver].filter.push(searchkey);
                            $("#myTab").append('<li><a href="#keydata" data-filter="' + searchkey + '" class="filtertab">' + searchkey + '&nbsp;&nbsp;&nbsp;&nbsp;<i class="icon-remove filerdel" data-filter="' + searchkey + '" title="删除过滤器" style="cursor:pointer;"></i></a></li>');
                            $("#myTab").find('.filtertab').bind('click', $scope.showfilterkey);
                            $("#myTab").find('.filerdel').bind('click', $scope.delfilter);
                            $('#myTab a').click(function (e) {
                                e.preventDefault();
                                $(this).tab('show');
                            });
                            $scope.saveserver();
                        }
                        $("#searchkey").val('');
                    }
                    $("#keydata").addClass('active');
                    $("#serverstatus").removeClass('active');
                }
            };
            
            $scope.delfilter = function(e){
                e.stopPropagation();
                e.preventDefault();
                var obj = e.target;
                var filter = $(obj).attr('data-filter');
                var index = $.inArray(filter, $scope.serverlist[$scope.currentserver].filter);
                $scope.serverlist[$scope.currentserver].filter.splice(index, 1);
                if($(obj).parent().parent().hasClass('active')){
                    $("#myTab a:first").tab('show');
                }
                $(obj).parent().parent().remove();
            };
            
            $scope.loadserver();
            $scope.setscroll();
            $scope.showplace('welcome');
        }
    </script>
</html>